<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <form class="login-form">
      <div class="f-head">
        <h1 class="title">Bienvenido</h1>
      </div>
      <div class="f-body">
        <label for="username">Nombre de usuario: </label>
        <input
          type="text"
          id="username"
          name="username"
          required
          placeholder="Nombre de usuario"
        />
        <label for="password">Contraseña: </label>
        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="Contraseña"
        />
        <input id="input-submit" type="submit" value="Iniciar Sesión" />
      </div>
      <div class="f-foot">
        <p class="forgot-password">¿Olvidó su contraseña?</p>
        <p class="register">¿No tiene una cuenta? Regístrese</p>
      </div>
    </form>
  </body>
</html>
